/* global */

* {
  box-sizing: border-box;
}

header {
  background-image: linear-gradient(
    to right,
    rgb(227, 93, 240),
    rgb(7, 107, 238)
  );
  width: 100%;
}

body {
  background: url(./images/logo.png);
  background-size: contain;
  color: #110505;
  margin: 0;
  background-attachment: fixed;
  font-family: sans-serif;
}

p {
  color: black;
}

a {
  text-decoration: none;
}

ul {
  display: flex;
  justify-content: center;
  gap: 25px;
  list-style: none;
}

/* .flex-header-container {
  display: flex;
}

.flex-header-container > div {
  margin: 10px;
  padding: 20px;
} */

/* text */

/* media */

.main-body-image {
  width: 100%;
}

/* tables */

/* forms */

/* header */

.header-container {
  display: flex;
  align-items: center;
}

/* header-container-nav */
.header-container-nav {
  display: flex;
  justify-content: right;
}

.header-container-nav-item {
  width: 100%;
  float: right;
  /* display: flex; */
}

.header-container-nav-item-link {
  display: block;
  color: #fff;
  padding: 10px 25px;
}

/* main */

.main-heading {
  color: black;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  font-size: 50px;
}

.main-body-lower-text {
  width: 100%;
  display: flex;
}

.main-body {
  box-shadow: 0px 0px 20px grey;
  border-radius: 30px;
  padding: 40px;
  margin: 40px;
  width: 60%;
  margin: auto;
}

.main-body-searchresults {
  /* border: 1px solid red; */
  background-color: rgb(236, 233, 233);
  padding: 5px;
  margin: 5px;
}

/* rows */

/* columns */

/* footer */

footer {
  width: 60%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-nav-list {
  padding-left: 10px;
  padding-right: 10px;
}

.footer-nav-list-item {
  justify-content: left;
}

input[type="text"] {
  width: 100%;
  border: none;
  border-bottom: 3px solid #780fa8;
  margin: 10px 0px;
}

input[type="button"] {
  background: #780fa8;
  color: white;
  border: none;
  padding: 10px 50px;
  margin-top: 10px;
  border-radius: 10px;
}

.main-body-searchresults-button {
  display: flex;
  align-content: right;
  background-color: white;
}
